*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-page {
    position: fixed;
    inset: 0;
    background-color: #111;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: sans-serif;
}

.cover-page h1 {
    font-size: 4rem;
    margin: 0;
}

.cover-page p {
    font-size: 1.5rem;
    margin: 10px 0 30px;
}

.cover-page .mode-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cover-page .mode-buttons button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 8px;
    transition: all 0.2 ease;
}

.cover-page .mode-buttons button:hover {
    background-color: white;
    color: crimson;
    border: 1px solid crimson;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.game-container,
.difficulty-page {
    display: none;
}

.difficulty-page {
    position: fixed;
    inset: 0;
    background-color: #111;
    color: white;
    display: none;
    place-items: center;
    text-align: center;
    font-family: sans-serif;
}

.difficulty-page h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.difficulty-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.difficulty-buttons button {
    font-size: 1.5rem;
    padding: 10px 25px;
    cursor: pointer;
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 8px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    align-items: center;
}

.score {
    font-size: 1.2rem;
    font-weight: bold;
}

#backToMenu {
    cursor: pointer;
    padding: 5px 10px;
}

.turn-indicator {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border: 2px solid black;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.turn {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: #ccc;
    color: black;
}

.turn.active {
    background-color: crimson;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;
}    


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message {
    display: none;
    position :fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 , 0 , 0, .9);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.winning-message div[data-winning-message-text] {
    font-size: 3rem; 
    margin-bottom: 30px;
    word-wrap: break-word;
}

.end-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.winning-message button {
    font-size: 1.5rem;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: all 0.2 ease;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}